/* components/ChatMessages.module.css */
.chatContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 70vh;
    overflow-y: auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 10px 0;
}
